<div class="parts-order" *ngIf="!orders.length && load">
    <div class="info-placeholder">
        Список заказов запчастей пуст. Уточните наличие в <a
            href="{{ tr5Url + '/dealerships' }}" target="_blank">дилерском центре</a>
    </div>
</div>

<div class="parts-order" *ngIf="orders.length">
    <div class="component-container">
        <div class="component-container__title">Открытые заказы запчастей</div>
    </div>

    <div class="parts-order__items-list">
        <div class="parts-order__item" *ngFor="let order of orders; let first = first"
             [ngClass]="{'parts-order__item_first': first}">
            <parts-order-item [order]="order"></parts-order-item>
        </div>
    </div>

    <a [routerLink]="['/request-history/car-parts']">Посмотреть все заказы запчастей</a>
</div>