<svg class="loader-icon" *ngIf="load">
    <use xlink:href="#big-loader"></use>
</svg>

<div class="module-title">
    Продать авто
</div>

<div class="page-content__info-placeholder info-placeholder" *ngIf="customerCar && !error && !load">
    Мы готовы купить ваш автомобиль прямо сегодня.
    <span *ngIf="!customerCar.car.brand || !customerCar.car.model">Узнайте сколько стоит ваш автомобиль</span>

    <span *ngIf="customerCar.car.brand && customerCar.car.model">
        Узнайте сколько стоит
        {{ customerCar.car.brand.title + ' ' + customerCar.car.model.title }}
        {{ ' ' + customerCar.car.prodDateYear + ' г.в' }}
        <span *ngIf="customerCar.car.run"> с пробегом {{ customerCar.car.run | number }}&nbsp;км</span>
    </span>
</div>

<div class="page-content__info-placeholder info-placeholder" *ngIf="error">
    К сожалению мы не смогли прямо сейчас рассчитать стоимость вашего авто.
    <button type="button" class="btn btn_pure-link" (click)="openForm('request_price')">Отправьте заявку</button> и мы ответим вам в ближайшее время.
</div>

<div class="plate-cards-row">
    <div class="plate-cards-row__row">
        <div class="plate-cards-row__col" *ngFor="let item of mockData">
            <div class="plate-card">
                <div class="plate-card__main-view">
                    <div class="plate-card__row">
                        <div class="plate-card__col">
                            <div class="plate-card__type">
                                <div class="status-label status-label_info status-label_stroke">
                                    <div class="status-label__indicator"></div>
                                    <div class="status-label__label">{{ item.title }}</div>
                                </div>
                                <div class="plate-card__status"></div>
                            </div>
                            <div class="plate-card__title">{{ item.price | number }}&nbsp;<span class="rub">p</span></div>
                            <div class="plate-card__details order-details">
                                <div class="order-details__caption">{{ item.descr }}</div>
                                <div class="order-details__row">
                                    <div class="order-details__col order-details__col_main">Стоимость через 6 месяцев</div>
                                    <div class="order-details__col">-10%</div>
                                </div>
                                <div class="order-details__row">
                                    <div class="order-details__col order-details__col_main">Срок продажи</div>
                                    <div class="order-details__col">{{ item.period }}</div>
                                </div>
                            </div>
                            <div class="order-details__row">
                                <button type="button" class="btn btn-primary btn-block" (click)="openForm(item.title, item.price)">Получить предложение</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>