<div class="plate-card" [class.plate-card_disabled]="order.isArchived">
    <div class="plate-card__main-view">
        <div class="plate-card__bar" *ngIf="!order.isArchived"></div>
        <div class="plate-card__row" [class.plate-card__row_has-cart]="!order.isArchived">
            <div class="plate-card__col">

                <div class="plate-card__type">
                    <div class="status-label status-label_info status-label_stroke">
                        <div class="status-label__indicator"></div>
                        <div class="status-label__label">Страхование</div>
                    </div>

                    <div class="badge-with-label" *ngIf="order.startDate">
                        <span class="badge-with-label__badge badge badge_large"
                              [ngClass]="order.isArchived ? 'badge_primary' : 'badge_success'">{{ order.isArchived ? 'завершен' : 'актуальный' }}</span>
                    </div>
                </div>

                <div class="plate-card__title plate-card-title">
                    <span class="plate-card-title__title">Договор <span class="plate-card-title__upper-part">{{ order.type }}</span> </span>
                </div>

                <div class="plate-card__date-wrap badge-with-label" *ngIf="order.startDate">
                    <span class="badge-with-label__label">от {{ order.startDate | date: "mediumDate" }}</span>
                </div>

                <div class="plate-card__details order-details">

                    <div class="order-details__row" *ngIf="order.amount && checkType()">
                        <div class="order-details__col order-details__col_main">Страховая сумма</div>
                        <div class="order-details__col order-details__col_accent">{{ order.amount | number }}&nbsp;<span class="rub">p</span></div>
                    </div>

                    <div class="order-details__row order-details__row_divider" *ngIf="order.sum">
                        <div class="order-details__col order-details__col_main">Страховая премия</div>
                        <div class="order-details__col order-details__col_accent">{{ order.sum | number }}&nbsp;<span class="rub">p</span>
                        </div>
                    </div>

                    <div class="order-details__row">
                        <div class="order-details__col order-details__col_main">Договор</div>
                        <div class="order-details__col">№&nbsp;{{ order.agreementNumber }}</div>
                    </div>

                    <div class="order-details__row" *ngIf="order.title">
                        <div class="order-details__col order-details__col_main">Название страховой</div>
                        <div class="order-details__col">{{ order.title }}</div>
                    </div>

                    <div class="order-details__row" *ngIf="order.managerName">
                        <div class="order-details__col order-details__col_main">Ф.И.О менеджера</div>
                        <div class="order-details__col">{{ order.managerName }}</div>
                    </div>

                    <div class="order-details__row" *ngIf="order.company">
                        <div class="order-details__col order-details__col_main">Дилерский центр</div>
                        <div class="order-details__col">{{ order.company.commerceName }}</div>
                    </div>
                </div>
            </div>

            <div class="plate-card__col" *ngIf="!order.isArchived">
                <div class="plate-card__services-cart services-cart services-cart_active services-cart_evenly">
                    <span class="services-cart__main-title" *ngIf="order.endDate">Истекает {{ order.endDate | date: "mediumDate" }}</span>
                    <div class="services-cart__service-action">
                        <insurance [insuranceNumber]="order.agreementNumber"></insurance>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>