<customer-header></customer-header>
<div class="site-wrapper">
    <div class="container-fluid">
        <div class="page-content">
            <div class="page-content__aside">
                <customer-sidebar class="customer-sidebar"></customer-sidebar>
            </div>
            <div class="page-content__body page-content__body_column">
                <router-outlet></router-outlet>
            </div>

            <div class="page-content__footer page-content__footer_near_sidebar">
                <customer-footer></customer-footer>
            </div>
        </div>
    </div>
</div>