<svg class="loader-icon" *ngIf="load">
    <use xlink:href="#big-loader"></use>
</svg>

<div class="order-info">
    <section *ngIf="!load && order">
        <div class="module-title module-title_with_aside">
            Заказ №{{ order.id }}

            <div class="module-title__aside">
                <button *ngIf="isStatusReserved()" class="btn btn-default btn-sm" (click)="cancelOrder()"><i
                        class="fa fa-ban"
                        aria-hidden="true"></i>
                    Отменить заказ
                </button>
            </div>

        </div>
        <div class="table-responsive">
        <table class="table table_without_id request-table request-table_key-value order-info__table">
            <tbody>
            <tr>
                <td><b>Дата заказа</b></td>
                <td>{{ order.createdAt | date:'longDate' }}</td>
            </tr>
            <tr>
                <td><b>Автомобиль</b></td>
                <td>
                    Бренд: {{ order.car.brand?.title }}<br>
                    Модель: {{ order.car.model?.title }}<br>
                    Комплектация: {{ order.car.complectation?.title }}
                    <span *ngIf="order.car.color">
                        <br>Цвет: {{ order.car.color.title }}
                    </span>
                </td>
            </tr>
            <tr *ngIf="order.car.actualPrice">
                <td><b>Стоимость автомобиля, р.</b></td>
                <td>{{ order.car.actualPrice | number }}</td>
            </tr>
            <tr>
                <td><b>Предоплата, р.</b></td>
                <td>{{ order.price | number }}</td>
            </tr>
            <tr>
                <td><b>Статус заказа</b></td>
                <td>{{ order.statusTitle }}</td>
            </tr>
            <tr *ngIf="order.personalData">
                <td><b>Паспортные данные</b></td>
                <td>
                    Серия: {{ order.personalData.passportSeries ? order.personalData.passportSeries : 'Не указано' }}<br>
                    Номер: {{ order.personalData.passportId ? order.personalData.passportId : 'Не указано' }}<br>
                    Дата выдачи: {{ order.personalData.passportDateOfIssue ? order.personalData.passportDateOfIssue : 'Не указано' }}<br>
                    Кем выдан: {{ order.personalData.passportIssueBy ? order.personalData.passportIssueBy : 'Не указано' }}
                </td>
            </tr>
            <tr *ngIf="order.personalData">
                <td><b>Адрес</b></td>
                <td>
                    Индекс: {{ order.personalData.postCode ? order.personalData.postCode : 'Не указано' }}<br>
                    Регион: {{ order.personalData.region ? order.personalData.region : 'Не указано' }}<br>
                    Район: {{ order.personalData.district ? order.personalData.district : 'Не указано' }}<br>
                    Населенный пункт: {{ order.personalData.city ? order.personalData.city : 'Не указано' }}<br>
                    Улица: {{ order.personalData.street ? order.personalData.street : 'Не указано' }}<br>
                    Номер дома: {{ order.personalData.houseNumber ? order.personalData.houseNumber : 'Не указано' }}<br>
                    Корпус: {{ order.personalData.housingNumber ? order.personalData.housingNumber : 'Не указано' }}<br>
                    Квартира: {{ order.personalData.appartmentNumber ? order.personalData.appartmentNumber : 'Не указано' }}<br>
                </td>
            </tr>
            <tr>
                <td><b>Дилерский центр</b></td>
                <td>
                    Название: {{ order.company.title }}<br>
                    Телефон: {{ order.company.contacts.phone ? order.company.contacts.phone : 'Не указано' }}<br>
                    Адрес: {{ order.company.contacts.address ? order.company.contacts.address : 'Не указано' }}<br>
                </td>
            </tr>
            <tr *ngIf="order.personalData">
                <td><b>Отправлен со страницы</b></td>
                <td>
                    <a [href]="order.personalData.urls.car_page" target="_blank">
                        {{ order.personalData.urls.car_page }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div>

            <a class="btn btn-default buttons-group__btn" [routerLink]="['/request-history/orders']"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i> К списку заказов</a>

            <div class="alert alert-danger" *ngIf="alert && isStatusReserved()">
                <strong>Ошибка!</strong> {{ alert }} <strong (click)="closeAlert()">Закрыть</strong>
            </div>
            <div class="alert alert-success" *ngIf="alert && !isStatusReserved()">
                <strong>Успешно!</strong> {{ alert }} <strong (click)="closeAlert()">Закрыть</strong>
            </div>
        </div>

    </section>

    <section class="slice slice_odd" *ngIf="!load && !order">
        <div class="row">
            <div class="col-md-6">
                Не удалось получить информацию о заказе
            </div>
        </div>
    </section>

</div>