<div class="module-title module-title_with_aside">
    Заказы запчастей
    <div class="module-title__aside">
        <div class="toggle toggle_double">
            <label class="toggle__label toggle__label_additional" for="_toggleOrdersState">Актуальные</label>
            <input class="toggle__input" type="checkbox" id="_toggleOrdersState" [checked]="showAllOrders"
                   (change)="toggleOrders()">
            <label class="toggle__label" for="_toggleOrdersState">Все</label>
        </div>
    </div>
</div>

<parts-order [showClosedOrders]="showAllOrders"></parts-order>