<div class="module-title">
    Заказы авто
</div>

<div class="info-placeholder" *ngIf="orders && !orders.length">
    У вас нет заказанных автомобилей.
    <span *ngIf="newCarsTr5Url || usedCarsTr5Url">
        Выберите

        <a *ngIf="newCarsTr5Url" target="_blank" href="{{ newCarsTr5Url }}">новый авто</a>

        <span *ngIf="newCarsTr5Url && usedCarsTr5Url">или</span>

        <a *ngIf="usedCarsTr5Url" href="{{ usedCarsTr5Url }}" target="_blank">авто с пробегом</a>
        прямо сейчас.
    </span>
</div>

<div class="plate-cards-list">
    <div class="plate-cards-list__item"
         *ngFor="let order of orders; let last = last"
         [ngClass]="{'plate-cards-list__item_last': last}">
        <div class="plate-card">
            <div class="plate-card__main-view">
                <div class="plate-card__bar"></div>
                <div class="plate-card__row plate-card__row_has-cart">
                    <div class="plate-card__col">
                        <div class="plate-card__type">
                            <div class="status-label status-label_info status-label_stroke">
                                <div class="status-label__indicator"></div>
                                <div class="status-label__label">Покупка автомобиля</div>
                            </div>

                            <div class="badge-with-label" *ngIf="order.statusTitle">
                                <span class="badge-with-label__badge badge badge_large"
                                [ngClass]="{
                                    'badge_primary': order.status < 3,
                                     'badge_danger': order.status === 3 || order.status === 4}">
                                    {{ order.statusTitle }}
                                </span>
                            </div>
                        </div>
                        <div class="plate-card__title">Заказ <span class="plate-card__escaped-title-part">{{ order.car.brand?.title }} {{ order.car.model?.title }}</span>
                        </div>

                        <div class="plate-card__date-wrap badge-with-label">
                            <div class="badge-with-label__label">от {{ order.createdAt | date: "mediumDate" }}</div>
                        </div>

                        <div class="plate-card__details order-details">
                            <div class="order-details__row"
                                 *ngIf="order.car.params && order.car.params.expectedDeliveryDate">
                                <div class="order-details__col order-details__col_main">Ожидаемая дата поставки</div>
                                <div class="order-details__col order-details__col_accent">{{
                                    order.car.params.expectedDeliveryDate
                                    | date: "shortDate" }}
                                </div>
                            </div>

                            <div class="order-details__row" *ngIf="order.price && isPaymentEnabled">
                                <div class="order-details__col order-details__col_main">Предоплата</div>
                                <div class="order-details__col order-details__col_accent">{{ order.price | number }}&nbsp;<span
                                        class="rub">p</span></div>
                            </div>

                            <div class="order-details__row order-details__row_divider" *ngIf="order.car?.price">
                                <div class="order-details__col order-details__col_main">Стоимость автомобиля</div>
                                <div class="order-details__col order-details__col_accent">{{ order.car.price | number }}&nbsp;<span
                                        class="rub">p</span></div>
                            </div>

                            <div class="order-details__row">
                                <div class="order-details__col order-details__col_main">Номер заказа</div>
                                <div class="order-details__col">{{ order?.externalId }}</div>
                            </div>

                            <div class="order-details__row">
                                <div class="order-details__col order-details__col_main">Дилерский центр</div>
                                <div class="order-details__col">{{ order.company.title }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="plate-card__col">
                        <div class="plate-card__services-cart services-cart">

                            <svg class="services-cart__icon services-cart__icon_gift svg-icon">
                                <use xlink:href="#bow"></use>
                            </svg>

                            <div class="services-cart__inner services-cart__inner_simple-data">
                                <div class="services-cart__main-img-wrap">
                                    <img class="services-cart__main-img" *ngIf="order.car.publicPhotoUrl"
                                         [src]="order.car.publicPhotoUrl">
                                    <img class="services-cart__main-img services-cart__main-img_nophoto"
                                         *ngIf="!order.car.publicPhotoUrl"
                                         src="assets/img/nophoto.png">
                                </div>

                                <div class="plate-card__details order-details">
                                    <div class="order-details__row">
                                        <div class="order-details__col order-details__col_main">Комплектация</div>
                                        <div class="order-details__col order-details__col_accent"
                                             *ngIf="order.car.complectation">{{
                                            order.car.complectation.title }}
                                        </div>
                                        <div class="order-details__col order-details__col_accent"
                                             *ngIf="!order.car.complectation">&ndash;
                                        </div>
                                    </div>

                                    <div class="order-details__row order-details__row_divider">
                                        <div class="order-details__col order-details__col_main">Модификация</div>
                                        <div class="order-details__col" *ngIf="order.car.modification">{{
                                            order.car.modification.title }}
                                        </div>
                                        <div class="order-details__col" *ngIf="!order.car.modification">&ndash;</div>
                                    </div>

                                    <div class="order-details__row">
                                        <div class="order-details__col order-details__col_main">Цвет</div>
                                        <div class="order-details__col">{{ order.car.color?.title }}</div>
                                    </div>

                                    <div class="order-details__row">
                                        <div class="order-details__col order-details__col_main">VIN</div>
                                        <div class="order-details__col" *ngIf="order.car.vin">
                                            {{
                                            order.car.vin }}
                                        </div>
                                        <div class="order-details__col order-details__col_accent"
                                             *ngIf="!order.car.vin">
                                            &ndash;
                                        </div>


                                    </div>

                                </div>

                            </div>

                            <a [routerLink]="['/request-history/orders', order.id]" *ngIf="isPaymentEnabled" class="services-cart__btn btn btn-primary">
                                Посмотреть заказ
                                <svg class="svg-icon btn__icon">
                                    <use xlink:href="#eye_without_fill"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="plate-card__footer">
                    <button *ngIf="isStatusReserved(order) && isPaymentEnabled" (click)="cancelOrder(order)" class="btn btn-default btn-sm">
                        Отменить заказ
                    </button>
                </div>

                <div class="plate-card__popup"
                     *ngIf="alert && currentCanceledOrder.id == order.id && isStatusReserved(order)"
                     >
                    <div class="plate-card__popup-title plate-card__popup-title_error">
                        <svg class="svg-icon plate-card__popup-message-icon">
                            <use xlink:href="#attention_triangle_red"></use>
                        </svg>
                        <div>Не удалось отменить заказ</div>
                        <div>{{ alert }}</div>
                    </div>

                    <div class="plate-card__popup-close close-circle-link" (click)="closeAlert()">
                        <svg class="svg-icon svg-icon_sm close-circle-link__icon">
                            <use xlink:href="#close"></use>
                        </svg>
                    </div>
                </div>

                <div class="plate-card__popup"
                     *ngIf="alert && currentCanceledOrder.id == order.id && !isStatusReserved(order)">
                    <div class="plate-card__popup-title">
                        <svg class="svg-icon svg-icon_success plate-card__popup-message-icon">
                            <use xlink:href="#check-circled"></use>
                        </svg>
                        <div>Заказ успешно отменён</div>
                        <div>{{ alert }}</div>
                    </div>

                    <div class="plate-card__popup-close close-circle-link" (click)="closeAlert()">
                        <svg class="svg-icon svg-icon_sm close-circle-link__icon">
                            <use xlink:href="#close"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>