<div class="plate-card plate-card_mini plate-card_in_row" [ngClass]="{'plate-card_active': isActive}">
    <div class="plate-card__main-view">
        <div class="plate-card__row">
            <div class="plate-card__col">
                <div class="plate-card__type">
                    <div class="status-label status-label_success">
                        <div class="status-label__indicator"></div>
                        <div class="status-label__label">Заказ-наряд</div>

                    </div>
                    <div class="plate-card__status plate-card__status_success">{{ order.statusTitle }}</div>
                </div>

                <div class="plate-card__title">{{ order.typeTitle }}</div>

                <div class="plate-card__details order-details">
                    <div class="order-details__row">
                        <div class="order-details__col order-details__col_main">{{ order.creationDate | date:
                            "mediumDate" }}
                        </div>
                        <div class="order-details__col">{{ order.carRun | number }} км</div>
                    </div>

                    <div class="order-details__row" *ngIf="order.company">
                        <div class="order-details__col order-details__col_main">Дилерский центр</div>
                        <div class="order-details__col">{{ order.company.title }}</div>
                    </div>
                    <div class="order-details__row">
                        <div class="order-details__col order-details__col_main">Заказ-наряд</div>
                        <div class="order-details__col">№{{ order.externalId }}</div>
                    </div>
                    <div class="order-details__row">
                        <div class="order-details__col order-details__col_main">Общая стоимость</div>

                        <div class="order-details__col order-details__col_accent" *ngIf="order.getPrice()">
                            {{ order.getPrice() | number }}&nbsp;<span class="rub">p</span>
                        </div>

                        <div class="order-details__col order-details__col_accent" *ngIf="!order.getPrice()">&ndash;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>