<div class="insurance-order" *ngIf="orders.actual || orders.archived">
    <div class="module-title module-title_with_aside">
        Страхование
        <div class="module-title__aside">
            <div class="toggle toggle_double" *ngIf="orders.actual.length && orders.archived.length">
                <label class="toggle__label toggle__label_additional" for="_toggleOrdersState">Актуальные</label>
                <input class="toggle__input" type="checkbox" id="_toggleOrdersState" [checked]="!hideArchived"
                       (change)="hideArchived = !hideArchived">
                <label class="toggle__label" for="_toggleOrdersState">Все</label>
            </div>
        </div>
    </div>

    <div *ngIf="!orders.actual.length && !orders.archived.length">
        <div class="info-placeholder">Нет действующих или архивных договоров. Закажите полис КАСКО или ОСАГО
            <button type="button" class="btn btn_pure-link" (click)="openForm()">сейчас</button>
        </div>
    </div>

    <section class="insurance-order__section" *ngIf="orders.actual && orders.actual.length">
        <div class="component-container">
            <div class="component-container__title">Актуальные договоры страхования</div>
        </div>
        <div class="insurance-order__item" *ngFor="let order of orders.actual">
            <insurance-order-item [order]="order"></insurance-order-item>
        </div>
    </section>

    <section class="insurance-order__section" *ngIf="orders.actual && orders.archived.length && !hideArchived">
        <div class="component-container">
            <div class="component-container__title">Архивные договоры страхования</div>
        </div>
        <div class="insurance-order__item" *ngFor="let order of orders.archived">
            <insurance-order-item [order]="order"></insurance-order-item>
        </div>
    </section>
</div>