<div class="plate-card">
    <div class="plate-card__main-view">
        <div class="plate-card__row">
            <div class="plate-card__col">
                <div class="plate-card__type">
                    <div class="status-label status-label_success status-label_stroke">
                        <div class="status-label__indicator"></div>
                        <div class="status-label__label">Покупка запчастей</div>
                    </div>
                </div>

                <div class="plate-card__title-row">
                    <div class="plate-card__title plate-card__title_sm plate-card-title">
                        Заказ №{{ order.externalId }}
                    </div>
                    <span class="plate-card__price" *ngIf="order.getTotal()">
                        {{ order.getTotal() | number }} <span class="rub">p</span>
                    </span>
                </div>

                <div class="plate-card__date-wrap badge-with-label">
                    <span class="badge-with-label__label">
                        {{ order.dateCreate | date: "mediumDate" }}
                    </span>

                    <span class="badge-with-label__label" *ngIf="order.company">{{ order.company.commerceName }}</span>
                </div>

                <div class="plate-card__table simple-table" *ngIf="order.parts.length">
                    <div class="simple-table__row" *ngFor="let part of order.parts">
                        <div class="simple-table__col">
                            {{ part.title }}
                        </div>

                        <div class="simple-table__col">
                            <div class="simple-table__row">
                                <div class="simple-table__col simple-table__col_nested">
                                    <div class="badge-with-label">
                                        <span class="badge-with-label__badge badge badge_large badge_{{ order.close ? 'success' : 'warning' }}">
                                            {{ order.statusTitle ? order.statusTitle : (order.close ? 'Закрыт' : 'Открыт') }}
                                        </span>
                                        <span class="badge-with-label__label">{{ order.datePlaneShipment | date: "mediumDate" }}</span>
                                    </div>
                                </div>
                                <div class="simple-table__col simple-table__col_nested simple-table__col_last">
                                    <div>{{ part.qty + ' ' + part.measureCode + ' '}} <span *ngIf="part.amount > 0">x {{ part.amount | number }}&nbsp;<span
                                            class="rub">p</span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>