<div class="service-campaign" *ngIf="!campaigns.length && load">
    <div class="info-placeholder">
        Действующих сервисных кампаний для вашего автомобиля не найдено.
    </div>
</div>

<div class="service-campaign" *ngIf="campaigns.length">
    <div class="component-container">
        <div i18n class="component-container__title">
            На ваш автомобиль {campaigns.length, plural, one {действует} other {действуют}} {{ campaigns.length }} {campaigns.length, plural, one {сервисная кампания} few
            {сервисные
            кампании} other {сервисных кампаний}} {{ car.car.brand.title }}
        </div>
    </div>

    <div class="service-campaign__item"
         *ngFor="let campaign of campaigns; let first = first"
         [ngClass]="{'service-campaign__item_first': first}">
        <service-campaign-item [campaign]="campaign" [car]="car"></service-campaign-item>
    </div>
</div>