<div class="base-preloader" *ngIf="fullLoaded === false">
    <div class="base-preloader__body">
        <div class="base-preloader__loader"></div>
        <div class="base-preloader__text">Пожалуйста, подождите</div>
    </div>
</div>
<router-outlet></router-outlet>