<div class="parts-order" *ngIf="car !== null && !orderParts.length && load">
    <div class="info-placeholder">
        Список заказов запчастей пуст. Уточните наличие в <a
            href="{{ tr5Url + '/dealerships' }}" target="_blank">дилерском центре</a>
    </div>
</div>

<div class="parts-order" *ngIf="orderParts.length && car !== null">
    <div class="component-container">
        <div class="component-container__title">Открытые заказы запчастей</div>
    </div>

    <div class="parts-order__items-list">
        <div class="parts-order__item" *ngFor="let orderPart of openOrders; let first = first"
             [ngClass]="{'parts-order__item_first': first}">
            <parts-order-item [order]="orderPart"></parts-order-item>
        </div>
    </div>

    <div class="parts-order__items-list" *ngIf="showClosedOrders">
        <div class="component-container">
            <div class="component-container__title">Закрытые заказы запчастей</div>
        </div>

        <div class="parts-order__item" *ngFor="let orderPart of closedOrders; let first = first"
             [ngClass]="{'parts-order__item_first': first}">
            <parts-order-item [order]="orderPart"></parts-order-item>
        </div>
    </div>

    <a class="btn btn-warning" href="{{ tr5Url + '/dealerships' }}" target="_blank" *ngIf="!showRedirectLink">Заказать в автоцентре</a>
</div>