<customer-header></customer-header>

<div class="site-wrapper">
    <div class="container-fluid">
        <div class="page-content" compress>
            <div class="page-content__car-header">
                <customer-car-panel class="customer-car-panel"
                                    [class.customer-car-panel_compressed]="isPanelsCompressed"></customer-car-panel>
            </div>

            <div class="page-content__aside page-content__aside_with_car-panel"
                [ngClass]="{'page-content__aside_push-by-alert': hasServiceCampaigns, 'page-content__aside_compressed': isPanelsCompressed}"
                *ngIf="!isMobile || !isEntered"
                [@sidebarAnimation]="!isMobile || !isEntered"
            >
                <customer-sidebar 
                    class="customer-sidebar"
                    (onEnter)="onEnter($event)"
                ></customer-sidebar>
            </div>
            <div 
                class="page-content__body page-content__body_column page-content__body_with_car-panel"
                [ngClass]="{'page-content__body_pushed-by-alert': hasServiceCampaigns}"
                *ngIf="!isMobile || isEntered"
                [@pageAnimation]="!isMobile || isEntered"
                (@pageAnimation.start)="animationStarted($event)"
                (@pageAnimation.done)="animationDone($event)"
            >
                <button type="button" class="page-content__back-link page-content__back-link_start back-link" (click)="back()">
                    <svg class="back-link__arrow svg-icon">
                        <use xlink:href="#caret_right"></use>
                    </svg>
                    <span class="back-link__text">
                        Назад
                    </span>
                </button>
                <router-outlet></router-outlet>
                <button type="button" class="page-content__back-link page-content__back-link_end back-link" (click)="back()">
                    <svg class="back-link__arrow svg-icon">
                        <use xlink:href="#caret_right"></use>
                    </svg>
                    <span class="back-link__text">
                        Назад
                    </span>
                </button>
            </div>

            <div class="page-content__footer page-content__footer_near_sidebar"
                *ngIf="!isMobile || !isAnimating"
            >
                <customer-footer></customer-footer>
            </div>
        </div>
    </div>
</div>