<svg class="loader-icon" *ngIf="load">
    <use xlink:href="#big-loader"></use>
</svg>

<section class="service" *ngIf="customerCar">
    <div class="module-title">
        Обслуживание
        <span>{{ customerCar.car.title }} {{ customerCar.car.prodDateYear }}
            <span *ngIf="customerCar.car.registrationTag" class="alert alert-info alert_xs service__header-alert">{{ customerCar.car.registrationTag }}</span>
        </span>
    </div>

    <div class="page-content__anchors" *ngIf="anchors">
        <anchors [car]="customerCar" [module]="'/dashboard/service'"></anchors>
    </div>

    <div class="service__section" [anchor-target]="'current-service'">
        <service-opened [car]="customerCar" [noHistoryLink]="'true'"></service-opened>
    </div>

    <div class="service__section" [anchor-target]="'service-history'">
        <service-history [orders]="orders" [activeOrder]="selectedOrder"></service-history>
    </div>

    <div class="service__section service__section_last">
        <service-request-btn></service-request-btn>
    </div>
</section>