<div class="service-campaign">
    <div class="plate-card">
        <div class="plate-card__main-view">
            <div class="plate-card__row">
                <div class="plate-card__col">
                    <div class="plate-card__type">
                        <div class="status-label status-label_danger">
                            <div class="status-label__indicator"></div>
                            <div class="status-label__label">Обслуживание</div>
                        </div>
                    </div>
                    <div class="plate-card__title">{{ campaign.title }}</div>
                </div>

                <div class="plate-card__col plate-card__col_empty-content">
                    <div>
                        <button class="btn btn-primary btn_large-text" type="button" (click)="openForm(car, campaign)">
                            записаться
                            <svg class="svg-icon btn__icon">
                                <use xlink:href="#calendar-with-lines-in-back"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>