<div class="service-history" *ngIf="!orders.length && load">
    <div class="info-placeholder">
        Ваша история обслуживания пуста. Запишитесь <service-request-btn [modifier]="'btn_pure-link'" [text]="'на сервис онлайн'"></service-request-btn>
    </div>
</div>

<div class="service-history" *ngIf="orders.length">

    <div class="component-container">
        <div class="component-container__header component-container__header_with_aside">
            <div class="component-container__title">
                История обслуживания вашего автомобиля
            </div>

            <div class="component-container__aside">
                <div class="toggle toggle_double">
                    <label class="toggle__label toggle__label_additional" for="_toggleOrdersState">Год</label>
                    <input class="toggle__input" type="checkbox" id="_toggleOrdersState" [checked]="!showOnlyYears"
                           (change)="showOnlyYears = !showOnlyYears; changePeriod(showOnlyYears)">
                    <label class="toggle__label" for="_toggleOrdersState">Месяц</label>
                </div>
            </div>
        </div>
    </div>

    <div class="service-history__dates-row">
        <div class="service-history__years" *ngIf="showOnlyYears">
            <div class="service-history__date-item" *ngFor="let date of separatedOrderDateCollection; let first = first" [class.service-history__date-item_first]="first">
                <div class="service-history__date-value">
                    <button type="button"
                            class="service-history__date-subitem"
                            [class.service-history__date-subitem_active]="isActiveDate(date.year, 'year')"
                            (click)="filterOrdersByYear(date.year)">
                        {{ date.year }}
                    </button>
                </div>
            </div>
        </div>

        <div class="service-history__full" *ngIf="!showOnlyYears">
            <div class="service-history__date-item" *ngFor="let date of separatedOrderDateCollection; let first = first" [class.service-history__date-item_first]="first">
                <div class="service-history__date-value">
                    <div class="service-history__date-value-caption">
                        {{ date.year }}
                    </div>
                    <button type="button"
                            class="service-history__date-subitem"
                            *ngFor="let month of date.months"
                            [class.service-history__date-subitem_active]="isActiveDate(month, 'month')"
                            (click)="filterOrdersByMonthsOfYear(date.year, month)">
                        {{ month | date: 'MMMM' }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="service-history__inner">
        <div class="service-history__slide-row" [ngStyle]="{'transform': 'translate3d(' + sliderPosition + 'px,0,0)'}">
            <div class="service-history__item"
                 [ngClass]="{'service-history__item_first': first}"
                 *ngFor="let order of filteredOrders; let first = first; let index = index;">
                <div class="service-history__select-order-control" (click)="selectOrder(order)"></div>
                <div class="service-history__select-order-control_animate service-history__select-order-control" (click)="selectOrderAndMove(order, index)"></div>
                <service-history-item [order]="order" [isActive]="selectedOrder.id === order.id" class="service-history__item-component"></service-history-item>
            </div>
        </div>

        <div class="service-history__buttons" *ngIf="filteredOrders.length > 2">
            <button type="button" class="service-history__slide-toggle service-history__slide-toggle_prev" (click)="prev()">
                <svg class="svg-icon svg-icon_primary">
                    <use xlink:href="#caret-in-circle_left"></use>
                </svg>
            </button>

            <button type="button" class="service-history__slide-toggle service-history__slide-toggle_next" (click)="next()">
                <svg class="svg-icon svg-icon_primary">
                    <use xlink:href="#caret-in-circle_right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="service-history-order" *ngIf="selectedOrder">
    <div class="plate-card plate-card_free-height">
        <div class="plate-card__main-view">
            <div class="plate-card__bar plate-card__bar_success"></div>
            <div class="plate-card__row">
                <div class="plate-card__col plate-card__col_like-aside">
                    <div class="plate-card__type">
                        <div class="status-label status-label_success status-label_stroke">
                            <div class="status-label__indicator"></div>
                            <div class="status-label__label">заказ-наряд</div>
                        </div>
                    </div>
                    <div class="plate-card__title">Состав<br>заказ-наряда</div>
                    <div class="order-details">
                        <div class="order-details__row">
                            <div class="order-details__col">№{{ selectedOrder.externalId }}</div>
                        </div>
                    </div>
                    <!--<div class="plate-card__title"># {{ selectedOrder.externalId }}</div>-->
                    <div class="plate-card__date-wrap badge-with-label">
                        <div class="badge-with-label__label">{{ selectedOrder.creationDate | date: "mediumDate" }}</div>
                    </div>
                </div>

                <div class="plate-card__col">
                    <!-- Карточка оформления ТО и других работ  -->
                    <div class="tech-order" *ngIf="selectedOrder">


                        <div class="tech-order__section" *ngIf="selectedOrder.works.length">
                            <div class="table-wrap">
                                <table class="responsive-table">
                                    <thead>
                                    <tr class="responsive-table__row responsive-table__row_header">
                                        <th class="responsive-table__cell responsive-table__cell_head responsive-table__cell_first">
                                            Работы
                                        </th>
                                        <th class="responsive-table__cell responsive-table__cell_head">
                                            {{selectedOrder.getWorkPrice() | number }}&nbsp;<span
                                                class="rub">p</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="responsive-table__row responsive-table__row_subheader">
                                        <td class="responsive-table__cell responsive-table__cell_subheader responsive-table__cell_first">
                                            Наименование
                                        </td>
                                        <td class="responsive-table__cell responsive-table__cell_subheader">Стоимость,&nbsp;<span
                                                class="rub">p</span></td>
                                    </tr>
                                    <tr class="responsive-table__row"
                                        *ngFor="let work of works; let isOdd = odd"
                                        [class.responsive-table__row_odd]="isOdd">
                                        <td class="responsive-table__cell responsive-table__cell_first">
                                            {{ work.title }}
                                        </td>
                                        <td class="responsive-table__cell" data-label="Стоимость, &#8381;: ">{{
                                            work.amount |
                                            number }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Набор запчастей для ТО -->
                        <div class="tech-order__section" *ngIf="selectedOrder.parts.length">
                            <div class="table-wrap table-wrap_for_pricing">
                                <table class="responsive-table">
                                    <thead>
                                    <tr class="responsive-table__row responsive-table__row_header">
                                        <th class="responsive-table__cell responsive-table__cell_head responsive-table__cell_first">
                                            Запчасти и расходные материалы
                                        </th>
                                        <th class="responsive-table__cell responsive-table__cell_head"></th>
                                        <th class="responsive-table__cell responsive-table__cell_head">
                                            {{ selectedOrder.getPartsPrice() | number }}&nbsp;<span
                                                class="rub">p</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="responsive-table__row responsive-table__row_subheader">
                                        <td class="responsive-table__cell responsive-table__cell_subheader responsive-table__cell_first">
                                            Наименование
                                        </td>
                                        <td class="responsive-table__cell responsive-table__cell_subheader">Кол-во</td>
                                        <td class="responsive-table__cell responsive-table__cell_subheader">Стоимость,&nbsp;<span
                                                class="rub">p</span></td>
                                    </tr>
                                    <tr class="responsive-table__row"
                                        *ngFor="let part of selectedOrder.parts; let i = index; let isOdd = odd"
                                        [class.pricing-list__row_odd]="isOdd">
                                        <td class="responsive-table__cell responsive-table__cell_first">{{
                                            part.title }}
                                        </td>
                                        <td class="responsive-table__cell" data-label="Кол-во, ед.изм.: ">{{
                                            part.qty | number }} {{
                                            (part.measure_code ? ', ' + part.measure_code : '') | lowercase }}
                                        </td>
                                        <td class="responsive-table__cell" data-label="Стоимость, &#8381;: ">{{
                                            part.amount | number }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tech-order__section" *ngIf="!selectedOrder.works.length && !selectedOrder.parts.length">
                            Информация по выполненным работам и наборам запчастей для ТО отсутствует
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>