<div *ngIf="car !== null" class="dashboard">
    <div class="dashboard__body">
        <div class="module-title" *ngIf="car.car.brand && car.car.model">Актуальная информация для {{ car.car.brand.title }}&nbsp;{{ car.car.model.title }}</div>
        <div class="module-title" *ngIf="!car.car.brand && !car.car.model">Актуальная информация для вашего автомобиля</div>
        <div class="page-content__anchors" *ngIf="anchors">
            <anchors [module]="'/dashboard'" [car]="car"></anchors>
        </div>
    </div>

    <div class="dashboard__item" [anchor-target]="'current-service'">
        <service-opened [car]="car"></service-opened>
    </div>

    <div class="dashboard__item" [anchor-target]="'service-campaign'">
        <service-campaign></service-campaign>
    </div>

    <div class="dashboard__item" [anchor-target]="'car-parts-order'">
        <parts-order-for-car></parts-order-for-car>
    </div>

    <div class="dashboard__item" [anchor-target]="'recommendation'">
        <recommendation [customerCar]="car"></recommendation>
    </div>

    <div class="dashboard__item dashboard__item_last" [anchor-target]="'car-parts-order'">
        <buy-car [car]="car"></buy-car>
    </div>

</div>